@media (min-width: 640px) {


  .c1{
    width: 111px;
    transform: translate(-250px, 9px);
  }

  .c2{
    width: 129px;
    transform: translate(-227px, -55px);
  }

  .c3{
    width: 126px;
    transform: translate(-122px, -62px);
  }

  .c4{
    width: 110px;
    transform: translate(-17px, -50px);
  }

  .c5{
    width: 116px;
    transform: translate(-11px, -144px);
  }

  .c6{
    width: 183px;
    transform: translate(26px, -202px);
  }

  .c7{
    width: 92px;
    transform: translate(-281px, 177px);
  }

  .c8{
    width: 150px;
    transform: translate(191px, -218px);
  }


  .ic-therm {
    width: 32px;
    transform: translate(-216px, 78px);
  }

  .ic-hum{
    width: 38px;
    transform: translate(-83px, -34px);
  }

  .ic-heating {
    width: 52px;
    transform: translate(-181px, -8px);
  }

  .ic-sal {
    width: 48px;
    transform: translate(20px, -103px);
  }

  .ic-ph{
    width: 41px;
    transform: translate(12px, -7px);
  }

  .ic-oxi{
    width: 92px;
    transform: translate(76px, -183px);
  }

  .modal-box {
    width: 50%;
    height: 70%;
  }

}
