@media (min-width: 1100px) {
  .c1{
    width: 177px;
    transform: translate(-314px, -59px);
  }

  .c2{
    width: 242px;
    transform: translate(-216px, -97px);
  }

  .c3{
    width: 150px;
    transform: translate(-2px, -145px);
  }

  .c4{
    width: 287px;
    transform: translate(18px, -285px);
  }

  .c5{
    width: 192px;
    transform: translate(-420px, 225px);
  }

  .c6{
    width: 287px;
    transform: translate(277px, -337px);
  }

  .ic-therm{
    width: 46px;
    transform: translate(-257px, 45px);
  }

  .ic-hum{
    width: 60px;
    transform: translate(-122px, -68px);
  }

  .ic-ph{
    width: 65px;
    transform: translate(36px, -65px);
  }

  .ic-oxi{
    width: 130px;
    transform: translate(95px, -249px);
  }


  .modal-box {
    width: 50%;
    height: 40%;
  }
}
