@media (min-width: 850px) {



  .c1{
    width: 129px;
    transform: translate(-281px, -28px);
  }

  .c2{
    width: 149px;
    transform: translate(-254px, -101px);
  }

  .c3{
    width: 146px;
    transform: translate(-132px, -110px);
  }

  .c4{
    width: 127px;
    transform: translate(-10px, -96px);
  }

  .c5{
    width: 136px;
    transform: translate(-3px, -206px);
  }

  .c6{
    width: 214px;
    transform: translate(41px, -273px);
  }

  .c7{
    width: 112px;
    transform: translate(-322px, 167px);
  }

  .c8{
    width: 170px;
    transform: translate(234px, -291px);
  }


  .ic-therm {
    width: 35px;
    transform: translate(-237px, 54px);
  }

  .ic-hum{
    width: 42px;
    transform: translate(-83px, -76px);
  }

  .ic-heating {
    width: 54px;
    transform: translate(-196px, -47px);
  }

  .ic-sal {
    width: 53px;
    transform: translate(32px, -155px);
  }

  .ic-ph{
    width: 50px;
    transform: translate(22px, -47px);
  }

  .ic-oxi{
    width: 106px;
    transform: translate(99px, -246px);
  }


  .modal-box {
    width: 70%;
    height: 40%;
    min-height: 350px;
  }

  .modal-visual{
    height: 100%;
    width: 40%;
    background-color: #236281;
  }

  .modal-contents{
    height: 100%;
    width: 60%;
    top: 0;
    left: 40%;
  }

}
