html{
  min-width: 450px;
  font-family: 'Verdana', sans-serif !important;
}

.infographics-wrap{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #59a597;
  /*background-color: #236281;*/
}

.c{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transition : -webkit-filter 200ms ease-in;
  /*filter: saturate(1.5) brightness(0.9);*/
}

.c1{
  width: 84px;
  transform: translate(-133px, 60px) rotate(-26deg);
}

.c2{
  width: 97px;
  transform: translate(-143px, 8px) rotate(-26deg);
}

.c3{
  width: 95px;
  transform: translate(-77px, -30px) rotate(-26deg);
}

.c4{
  width: 83px;
  transform: translate(-2px, -54px) rotate(-26deg);
}

.c5{
  width: 90px;
  transform: translate(-32px, -123px) rotate(-26deg);
}

.c6{
  width: 142px;
  transform: translate(-29px, -187px) rotate(-26deg);
}

.c7{
  width: 82px;
  transform: translate(-107px, 190px) rotate(-26deg);
}

.c8{
  width: 86px;
  transform: translate(74px, -231px) rotate(-26deg);
}

.ic{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  cursor: pointer;
}

.ic-therm {
  width: 25px;
  transform: translate(-98px, 114px);
}

.ic-heating{
  width: 38px;
  transform: translate(-107px, 41px);
}

.ic-hum{
  width: 31px;
  transform: translate(-51px, -11px);
}

.ic-ph{
  width: 30px;
  transform: translate(28px, -20px) rotate(-16deg);
}

.ic-sal{
  width: 38px;
  transform: translate(-4px, -91px);
}

.ic-oxi{
  width: 70px;
  transform: translate(6px, -172px) rotate(-16deg);
}


.ic-therm:hover + .c1, .ic-heating:hover + .c2, .ic-hum:hover + .c3, .ic-ph:hover + .c4, .ic-sal:hover + .c5, .ic-oxi:hover + .c6{
  filter: hue-rotate(35deg) saturate(1.95) brightness(0.8);
}

/****************** MODAL *******************/

.modal{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #448b7dcf;
  /*background-color: #1f556fd1;*/
  z-index: 100;
  opacity: 0;
  transition: all 200ms ease-in;
}

.modal-box{
  display: block;
  position: absolute;
  top: 150%;
  left: 50%;
  width: 70%;
  height: 80%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 0 14px rgba(52, 106, 95, 0.81);
  transition: all 200ms ease-in;
}

.modal-close{
  color: #fff;
  margin-top: -26px;
  float: right;
  font-family: 'Verdana', sans-serif;
  cursor: pointer;
}

.modal-close img{
  vertical-align: bottom;
}

.modal-close span {
  font-size: 20px;
  line-height: 26px;
}

.modal-visual{
  position: absolute;
  display: block;
  height: 30%;
  width: 100%;
  background-color: #236281;
}

.modal-contents{
  position: absolute;
  display: block;
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  top: 30%;
  padding: 2rem;
}

.modal-title h2{
  margin-top: 0;
  font-size: 1.1rem;
}

.modal-contents .modal-content{
  font-size: 0.8rem;
  overflow: hidden;
}

.modal-visual-img{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
}

.d-block{
  display: block;
}

.inn{
  opacity: 1;
}

.inn .modal-box{
  top: 50%;
}

.min-opacity{
  opacity: 0.2;
}
